{% extends 'cinemasys/base.html' %}
{% block content %}
{% if lastest_movie_list %}
<div class="container">
  <div class="row">
    {% for movie in lastest_movie_list %}
    <div class="col-sm-6">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <a href="{% url 'detail' movie.id %}">
              <img src="{{ movie.image.url }}" class="card-img" alt="...">
            </a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ movie.title }}</h5>
              <p class="card-text">{{ movie.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}
