<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <div class="">
      <h2>Hello <strong>{} {}</strong></h2>
    </div>
    <div class="">
      <h3>Summary of information about the tickets you have booked:</h3>
    </div>
    <div class="">
      <p class="font-weight-bold">Seance: <strong>{}</strong></p>
      <p class="font-weight-bold">Date: <strong>{}</strong></p>
      <p class="font-weight-bold">Hour: <strong>{}</strong></p>
      <p class="font-weight-bold">Hall: <strong>{}</strong></p>
      <ul>
        <p class="font-weight-bold">List of ticket:</p>
        <li><p class="font-weight-bold">place: <strong>{}</strong>, row: <strong>{}</strong></p></li>
      </ul>

    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
